
    <div class="col-md-3"  ></div>

    <div class="col-md-5">

        <div style="background-color:  #f2f2f2;  border-style: solid;  border-width: 2px;">

            <div >
                <h1 style="text-align:center"> <b>About</b></h1>
            </div>
            <div style="text-align:center">
            <h3>Welcome To Our Shop! Hope you enjoy:)</h3>
            <br>
            <span>During the task, we had a hard time assembling the whole system together, i.e.  creating the combination between the server side and the client side.
            <br>
            <br>
            <span> It also took time for us to adapt to the programming with Angular. </span>
            <br>
            <br>
            <span>However,At the end of the process, we enjoyed very much and were pleased with our website. </span>
            <br>
            <br>
            <span>your,</span>
            <br>
            <span>Shir Frumerman </span>
            <a href="">Shir site</a>
            <br>
            <span>Noy Cohen </span>
            <a href = "https://noycohen.000webhostapp.com/ ">Noy site</a>
            <br>
            <span>Link to Assignment 2 :</span><br>
            <a href ="https://pacman2017.000webhostapp.com/" >Assignment2</a>
            </div>
            </div>

            </div>


           


