<link rel="stylesheet" href="../../components/Products/css_products.css">


<div class="col-md-1"  ></div>
<div class="col-md-1"  ></div>

<div class="col-md-5"   >
<div id="products" class="products"   style="align-content: center;  width: 70%;  background-color:  #ff32ae;  border-style: solid;  border-width: 2px;">



    <h1 align="center"> RECOMANDED FOR YOU! </h1>

    <ul class="cent" style="list-style-type: none;">

        <li ng-repeat="x in products"  >
            <table style="width: 50%; background-color: white;  margin: 60px; padding: 30px"  >
                <tr>

                    <th ></th>
                    <th ></th>
                </tr>


                <tr>

                    <td style="  white-space: nowrap;">product: {{x.ProductName}}</td>
                    <td rowspan="3" style="padding:10px"> 	<img id="imgSrc" ng-src="{{x.img}}" style="height: 100px;">
                </tr>
                <tr>
                    <td>brand: {{x.Brand}}</td>
                </tr>
                <tr>
                    <td>price: {{x.Price}}$</td>
                </tr>
                <tr>
                    <td>{{x.Description}}</td>
                </tr>


            </table>

        </li>
    </ul>



</div>

</div>

<div class="col-md-1"  ></div>




<div class="col-md-5"   >

    <div id="filter" >

        <h1> OUR PRODUCTS  </h1>
        <h2 ng-hide="login"> In order to add ptoducts to cart you must be logged in to the site</h2>

        <table  width="60%">
            <tr >
                <th >Sort by:</th>

                <th    class="link" ng-click="orderByMe('ProductName')"> Name  </th>
                <th   class="link" ng-click="orderByMe('Brand')">Brand</th>
                <th  class="link" ng-click="orderByMe('Price')">Price</th>

            </tr>

            <tr >
                <th >Filter by Category:</th>

                <td colspan="3" style="padding-top: 10px" >  <select ng-model="selectedCat"
                                           ng-options="x.CategoryName for x in categories"></select>
                </td>


            </tr>

        </table>


    </div>


    <ul style="list-style-type: none;" >



        <li  ng-repeat="x in products| filter : selectedCat.CategoryName | orderBy : myOrderBy " >
            <table style="width: 30%;   margin: 40px; border-bottom:2pt solid black;"  >
                <tr>

                    <th ></th>
                    <th ></th>
                </tr>


                <tr>

                    <td style="  white-space: nowrap;">Product: {{x.ProductName}}</td>
                    <td rowspan="5" style="padding:10px"> 	<img id="imgSrc" ng-src="{{x.img}}" style="height: 100px;">
                </tr>
                <tr>
                    <td>Brand : {{x.Brand}}</td>
                    <td  ng-show=login>quantity : <input type="text" style="width: 30px" ng-model="x.quantity"></td>
                </tr>
                <tr>
                    <td>Price : {{x.Price}}$</td>
                    <td><button ng-show=login ng-click="addToCart($index)" >add to cart</button></td>
                </tr>
                <tr>
                    <td>Description : {{x.Description}}</td>
                </tr>
                <tr>
                    <td>Category : {{x.Category}}</td>
                </tr>


            </table>

        </li>
    </ul>
</div>
</div>

</div>

