
                <h1 style="text-align:center" ng-model="ngDialogData.myJSONObjectFieldName"> <b>Order Details</b></h1>
                </br>
                <p>Order ID:<span ng-bind="ngDialogData.OrderID"></span></p>
                <p>Order Date:<span ng-bind="ngDialogData.OrderDate"></span></p>
                <p>Shipment Date:<span ng-bind="ngDialogData.ShipmentDate"></span></p>
                <p> Currency : <span ng-bind="ngDialogData.Currency"></span></p>
                <p> Total Amount : <span ng-bind="ngDialogData.TotalAmount"></span></p>
               

                



           


