
                <h1 style="text-align:center" ng-model="ngDialogData.myJSONObjectFieldName"> <b>Product Details</b></h1>
                </br>
                <p>Product Name:<span ng-bind="ngDialogData.ProductName"></span></p>
                <p>Brand:<span ng-bind="ngDialogData.Brand"></span></p>
                <p>Price:<span ng-bind="ngDialogData.Price"></span></p>
                <p> Amount : <span ng-bind="ngDialogData.Amount"></span></p>
                <p> Category : <span ng-bind="ngDialogData.Category"></span></p>
                <p> Description : <span ng-bind="ngDialogData.Description"></span></p>
               
               
                <p> <img id="imgSrc" ng-src="{{ngDialogData.img}}" style="height: 100px;"></p>
                



          