<div class="row">
    <div class="" style=" text-align: center; direction: rtl; font-size: 110%;">
        <b>
            <p>
                <b>
                  במסכים הבאים יופיעו פריטים שונים, כאשר בחלקו הימני של המסך יופיע מידע על הפריטים שהופיעו למשתמש במערכת המלצה,
                  <br>ואילו בחלקו השמאלי של המסך תתבקשו לחוות את דעתכם על ההמלצות השונות.
                  <br>עליכם להעריך את טיב ההמלצה עבור כל אחד מהפריטים שהומלצו למשתמש, המופיעים בחלקו הימני של המסך,
                  <br> בהתחשב בפריט אותו צרך המשתמש בעבר וכן בפריט בו בחר המשתמש לצרוך למרות ההמלצות.</b><br>
                  עימדו על תמונת הפריט מימין על מנת להגדילה. לחיצה על תמונות הפריטים תפתח חלון חדש עם פרטים על הפריט.
              </p>
                  
        
      </div>
</div>
<div style="height: 10px; background-color: black;"></div>

<div class="ques2t col-md-5" id="questLeft" style="background-color: black;  height: 1400px;
        overflow-y: hidden;   overflow-x: hidden;">
  <!--Questionnaire instructions-->

  <div>
 
    <form name="questForm" ng-model="questForm" style="direction: rtl; font-size: 110%" novalidate>
        <div style="padding: 10px; background-color: rgb(228, 228, 228); color: black; font-size: large;" >2)
            דרגו את איכות ההמלצה על כל אחד מהפריטים, על פי הפריט שהמשתמש אהב בעבר ועל פי הפריט שנבחר על ידי המשתמש
     </div>

      <b>
        <div ng-style="set_color($index)" style="padding: 10px" ng-repeat="mov in recItems">

          <p class="ques2t " style="font-weight: 700; direction: rtl; font-family: 'Book Antiqua'; font-size: 125%; ">
            {{$index+1}}. המקום: {{mov.name}} </p>

          <div class="ques2t row">

            <div class="ques2t col-md-6">
              <a href="{{mov.link}}" target="_blank">
                <img class="ques2t imgBox" title="לחץ על-מנת לעבור לאתר המקום" style="margin-top: 7px"
                  ng-src={{mov.poster}}>
              </a>
            </div>
            <ng-form name="ratingFieldForm_{{$index}}" ng-model="ratingFieldForm" novalidate>
              <div class="ques2t col-md-6" dir="rtl">
                <span
                  ng-show="ratingFieldForm_{{$index}}.mov_rating_{{$index}}_1.$invalid && ratingFieldForm_{{$index}}.mov_rating_{{$index}}_2.$invalid && ratingFieldForm_{{$index}}.mov_rating_{{$index}}_3.$invalid && ratingFieldForm_{{$index}}.mov_rating_{{$index}}_4.$invalid && ratingFieldForm_{{$index}}.mov_rating_{{$index}}_5.$invalid && error"
                  style="color: #ff0000">&emsp;אנא דרג את ההמלצה
                  <br>
                </span>

                <input type="radio" id="mov_rating_{{$index}}_1" name="mov_rating_{{$index}}_1" value="1"
                  ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="ques2t pointer" for="mov_rating_{{$index}}_1">1 (המלצה גרועה) </label>
                <br>
                <input type="radio" id="mov_rating_{{$index}}_2" name="mov_rating_{{$index}}_2" value="2"
                  ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="ques2t pointer" for="mov_rating_{{$index}}_2">2 </label>

                <br>
                <input type="radio" id="mov_rating_{{$index}}_3" name="mov_rating_{{$index}}_3" value="3"
                  ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="ques2t pointer" for="mov_rating_{{$index}}_3">3 </label>

                <br>
                <input type="radio" id="mov_rating_{{$index}}_4" name="mov_rating_{{$index}}_4" value="4"
                  ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="ques2t pointer" for="mov_rating_{{$index}}_4">4 </label>


                <br>
                <input type="radio" id="mov_rating_{{$index}}_5" name="mov_rating_{{$index}}_5" value="5"
                  ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="ques2t pointer" for="mov_rating_{{$index}}_5">5 (המלצה מצויינת) </label>
                <br>
                <br>
              </div>

            </ng-form>
            <ng-form name="explainFieldForm_{{$index}}" ng-show=currentQuest<=2 ng-model="explainFieldForm" novalidate>
              <div class="ques2t row" style="padding: 10px">
                  <div style="font-size: 15px;"> &emsp;הנימוק לציון אותו בחרת:
                  </div>
                  <span
                    ng-show="(error ||  explainFieldForm_{{$index}}.explain_mov.$touched )&& explainFieldForm_{{$index}}.explain_mov.$invalid "
                    style="color: #ff0000;  ">
                    &emsp;&emsp;אנא נמק את בחירתך
                    <br>
                  </span>
                  &emsp;
                  <input type="text" style=" font-size: 15px; color:black" size="55" name="explain_mov"
                    ng-disabled="myCheck" placeholder="כתוב את נימוקך כאן"
                    ng-blur="saveClick($event, recItems[$index],itemsName[$index])" ng-model="explain_mov" required>
              </div>


            </ng-form>




          </div>&emsp;


          </p>
        </div>
  </div>
  </b>



  <div style="text-align: center; color: white; font-size: medium">
    <b> שאלון : {{currentQuest}}/{{QuestAmount}}
    </b> &emsp;
    <button type="submit" style="color: white" ng-hide="Last" ng-click="nextEval()" novalidate>
      <b>עבור להערכה הבאה</b>
    </button>
    <button type="submit" style="color: white" ng-show="Last" ng-click="nextEval() " novalidate>
      <b>לסיום הניסוי</b>
    </button>



    <br>
  </div>
  </form>
</div>
</div>


<div class="ques2t col-md-7" id="questRight" style="direction: rtl; font-size: large ;  height: 1400px;
     overflow-y: hidden;   overflow-x: hidden;background-color: #f8f8f8">

     
<div style="padding: 10px; background-color: rgb(228, 228, 228); color: black;  font-size: large;">
    1) קראו בעיון את פרטי התרחיש הבא, אנא וודאו כי הנכם גוללים עד לתחתית העמוד:
</div>

  <!--Current movies presented to the user-->
  <div style="font-size: 100%; color: black; font-weight: bold; margin: 10px; ">
    <h1
      style=" text-align: center; direction: rtl; font-size: 120%; background-color: #f8f8f8 ; color:black;   font-weight: bold;padding: 5px">
      במסגרת אפליקציה להמלצה על מקומות בילוי/עניין:</h1>
    <u> משתמש ביקר במערכת בעבר ואהב את המקום:</u>
    <div style="text-align: center; vertical-align: middle;">
      <br>
      {{watched}}<br>
      <a class="ques2t thumb" href="{{watched_tmdb}}" target="_blank">
        <img class="ques2t poster" ng-src={{watched_poster}}>
        <span class="ques2t test">
          {{watched}}
          <br>
          <img ng-src={{watched_poster}} style="z-index: 100; width: 600px ; height: auto;" alt="">
        </span>
      </a>
    </div>


    <br>

    <u> המשתמש קיבל המלצה במערכת על הפריטים הבאים:</u>
    <div id="thumbs" style="font-size: 100%;">
      <p ng-repeat="mov in recItems" style="margin-bottom: 20px;">
        {{mov.name}}<br>
        <a class="ques2t thumb" href="{{mov.link}}" target="_blank">
          <img class="ques2t poster" ng-src="{{mov.poster}}">

          <span class="ques2t test" style="z-index: 1;">
            {{mov.name}}
            <br>
            <img ng-src="{{mov.poster}}" style=" width: 600px ; height: auto;" alt="">
          </span>
        </a>
        <!-- <span class="ques2t stretch"></span> -->
      <br>
      </p>
      


    </div>

    <p class="ques2t ">
      <br>
      <br>
      <u> למרות ההמלצות, המשתמש בחר לבקר במקום אחר שלא הומלץ לו: </u>
      <div style="text-align: center; vertical-align: middle;">
        {{chose}}<br>
        <a class="ques2t thumb" href="{{chose_tmdb}}" target="_blank">
          <img ng-src="{{chose_poster}}" style="font-size: 50px; z-index: -1; " class="ques2t poster">
          <span class="ques2t test" style="z-index: 1;  ">
            {{chose}}
            <br>
            <img ng-src="{{chose_poster}}" style=" width: 600px ; height: auto;" alt="">
          </span>
        </a>
      </div>
    </p>
  </div>
</div>