.ques2t #thumbs {
  width: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  text-align: center;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

label {
  cursor: pointer;
}
.ques2t #thumbs p {
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.ques2t .stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.ques2t .poster {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0, 2), 0 6px 20px 0 white;
  text-align: center;
  height: 130px;
  width: auto;
  z-index: 5;
}

.ques2t button {
  background-color: #6a0606;
  padding: 10px;
  font-size: medium;
}
.ques2t button:hover {
  -moz-box-shadow: 0 0 20px #feffa6;
  -webkit-box-shadow: 0 0 20px #feffa6;
  box-shadow: 0 0 20px #feffa6;
}

.ques2t .thumb {
  position: relative;
}

.ques2t .thumb img {
  border: 1px solid #000;
  vertical-align: text-bottom;
}
.ques2t .thumb:hover {
  border: 0; /* IE6 needs this to show large image */
  z-index: 50;
}
.ques2t .thumb span {
  position: absolute;
  background-color: lightyellow;
  padding: 5px;
  left: -250px;
  border: 1px solid gray;
  visibility: hidden;
  color: #4a89a5;
  text-decoration: none;
  z-index: 50;
}

.ques2t .thumb span img {
  /*CSS for enlarged image*/
  border-width: 0;
  padding: 2px;
  z-index: 5;
  height: 300px;
  width: auto;
}

.ques2t .thumb:hover span {
  position: absolute;
  z-index: 5;
  visibility: visible;
  width: 400%;
  top: -130px;
  left: -250px; /*position where enlarged image should offset horizontally */
}

.ques2t .thumb:hover span.ques2t .test:hover {
  color: #0d1175;
  font-size: larger;
  z-index: 5;
}

.ques2t .imgBox {
  height: 150px;
  width: auto;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0, 7), 0 6px 20px 0 white;
}

.ques2t .imgBox:hover {
  -moz-box-shadow: 0 0 20px #000000;
  -webkit-box-shadow: 0 0 20px #000000;
  box-shadow: 0 0 20px #000000;
}

.ques2t input:hover {
  cursor: pointer;
}

.ques2t .pointer {
  font-weight: normal;
}

.ques2t .pointer:hover {
  cursor: pointer;
  font-weight: 600;
}
