<div class="col-md-6" id="questLeft" style="background-color: black;  height: 100%;
        overflow: auto;">
  <!--Questionnaire instructions-->

  <div class="" style=" text-align: center; direction: rtl; font-size: 120%; background-color: #111114 ; color:#d9e7ee; padding: 5px">
    <b>
      <p style="border: groove; border-color: #d9e7ee">
        הערך את טיב ההמלצה עבור כל אחד מהסרטים, המופיעים במקרה לניתוח, בחלקו הימני של המסך.
        <br> בו בחר המשתמש לצפות למרות ההמלצות.
      </p>
      <p>
        <h3>מה דעתך על איכות ההמלצה עבור כל אחד מהסרטים הבאים: </h3>
      </p>
    </b>
  </div>
  <div>
    <form name="questForm" ng-model="questForm" style="direction: rtl; font-size: 120%" novalidate>
      <b>
        <div ng-style="set_color($index)" style="padding: 10px" ng-repeat="mov in moviesNames">

          <p class="" style="font-weight: 800; direction: rtl; font-family: 'Book Antiqua'; font-size: 135%; ">{{$index+1}}. הסרט: {{mov}}</p>

          <div class="row">

            <div class="col-md-4">
              <a href="{{movieTMDsrc}}{{moviesLinks[$index]}}" target="_blank">
                <img class="imgBox" title="לחץ כדי לעבור לאתר הסרט" style="margin-top: 7px" ng-src={{posterSRC}}{{moviesPosters[$index]}}>
              </a>
            </div>
            <ng-form name="ratingFieldForm_{{$index}}" ng-model="ratingFieldForm" novalidate>
              <div class="col-md-8" dir="rtl">
                <span ng-show="ratingFieldForm_{{$index}}.mov_rating_{{$index}}_1.$invalid && ratingFieldForm_{{$index}}.mov_rating_{{$index}}_2.$invalid && ratingFieldForm_{{$index}}.mov_rating_{{$index}}_3.$invalid && ratingFieldForm_{{$index}}.mov_rating_{{$index}}_4.$invalid && ratingFieldForm_{{$index}}.mov_rating_{{$index}}_5.$invalid && error"
                  style="color: #ffa07a">&emsp;אנא דרג את ההמלצה
                  <br>
                </span>

                <input type="radio" id="mov_rating_{{$index}}_1" name="mov_rating_{{$index}}_1" value="1" ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,moviesNames[$index],moviesLinks[$index])" required>
                <label class="pointer" for="mov_rating_{{$index}}_1">1 (המלצה גרועה) </label>
                <br>
                <input type="radio" id="mov_rating_{{$index}}_2" name="mov_rating_{{$index}}_2" value="2" ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,moviesNames[$index],moviesLinks[$index])" required>
                <label class="pointer" for="mov_rating_{{$index}}_2">2 </label>

                <br>
                <input type="radio" id="mov_rating_{{$index}}_3" name="mov_rating_{{$index}}_3" value="3" ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,moviesNames[$index],moviesLinks[$index])" required>
                <label class="pointer" for="mov_rating_{{$index}}_3">3 </label>

                <br>
                <input type="radio" id="mov_rating_{{$index}}_4" name="mov_rating_{{$index}}_4" value="4" ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,moviesNames[$index],moviesLinks[$index])" required>
                <label class="pointer" for="mov_rating_{{$index}}_4">4 </label>


                <br>
                <input type="radio" id="mov_rating_{{$index}}_5" name="mov_rating_{{$index}}_5" value="5" ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,moviesNames[$index],moviesLinks[$index])" required>
                <label class="pointer" for="mov_rating_{{$index}}_5">5 (המלצה מצויינת) </label>
                <br>
                <br>
                <!-- <div style="font-size: 20px; margin: 2px"> מה הוביל אותך לדירוג ההמלצה?
                </div> -->
                <!-- <span ng-show="(error  )&& ratingFieldForm_{{$index}}.mov_guide_{{$index}}_watched.$invalid && ratingFieldForm_{{$index}}.mov_guide_{{$index}}_chose.$invalid && ratingFieldForm_{{$index}}.mov_guide_{{$index}}_both.$invalid"
                  style="color: #ffa07a;  ">
                  &emsp;אנא ציין מה הוביל אותך לדירוג ההמלצה
                  <br>
                </span>
                <input type="radio" id="mov_guide_{{$index}}_watched" name="mov_guide_{{$index}}_watched" value="watched" ng-disabled="myCheck"
                  ng-model="mov_guide" ng-click="saveClick($event,moviesNames[$index])" required>
                <label class="pointer" for="mov_guide_{{$index}}_watched">הסרט בו המשתמש
                  <b>צפה בעבר</b>
                </label>
                <br>
                <input type="radio" id="mov_guide_{{$index}}_chose" name="mov_guide_{{$index}}_chose" value="chose" ng-disabled="myCheck"
                  ng-model="mov_guide" ng-click="saveClick($event,moviesNames[$index])" required>
                <label class="pointer" for="mov_guide_{{$index}}_chose">הסרט בו המשתמש
                  <b>בחר לצפות</b>
                </label>
                <br>
                <input type="radio" id="mov_guide_{{$index}}_both" name="mov_guide_{{$index}}_both" value="both" ng-disabled="myCheck" ng-model="mov_guide"
                  ng-click="saveClick($event,moviesNames[$index])" required>
                <label class="pointer" for="mov_guide_{{$index}}_both">הסרט בו המשתמש צפה בעבר
                  <b>וגם</b> הסרט בו בחר לצפות</label>
                <br>

                <br> -->
              </div>
            </ng-form>
            <ng-form name="explainFieldForm_{{$index}}" ng-show=currentQuest<=2 ng-model="explainFieldForm" novalidate>
              <div class="row" style="padding: 10px">
                <p>
                  <div style="font-size: 17px;"> &emsp;הנימוק לבחירתך:
                  </div>
                  <span ng-show="(error ||  explainFieldForm_{{$index}}.explain_mov.$touched )&& explainFieldForm_{{$index}}.explain_mov.$invalid "
                    style="color: #ffa07a;  ">
                    &emsp;&emsp;אנא נמק את בחירתך, הנימוק חובה רק בשני המקרים לניתוח הראשונים (:
                    <br>
                  </span>
                  &emsp;
                  <input type="text" style=" color:black" size="60" name="explain_mov" ng-disabled="myCheck" placeholder="כתוב את נימוקך כאן"
                    ng-click="saveClick($event,moviesNames[$index],moviesLinks[$index])" ng-blur="saveClick($event, moviesNames[$index],moviesLinks[$index])" ng-model="explain_mov"
                    required>
                </p>
              </div>


            </ng-form>




          </div>&emsp;
          <input type="checkbox" id={{$index}} name="checkbox-familiar_{{$index}}" ng-model="myCheck" ng-click="checkedClick($event, this, $index, myCheck)">
          <label class="pointer" for={{$index}}> הסרט שונה מדי מהסרטים בהם אני צופה בדרך כלל ואינני מצליח לגבש דעה לגביו </label>


          </p>
        </div>
  </div>
  </b>



  <div style="text-align: center; color: white; font-size: medium">
    <b> שאלון : {{currentQuest}}/{{QuestAmount}}
    </b> &emsp;
    <button type="submit" style="color: white" ng-hide="Last" ng-click="nextEval()" novalidate>
      <b>עבור להערכה הבאה</b>
    </button>
    <button type="submit" style="color: white" ng-show="Last" ng-click="nextEval() " novalidate>
      <b>לסיום הניסוי</b>
    </button>



    <br>
  </div>
  </form>
</div>
</div>


<div class="col-md-6" id="questRight" style="direction: rtl; font-size: large ;  height: 100%;
     overflow-y: auto;   overflow-x: hidden;background-color: #6b6b6e">





  <!--Current movies presented to the user-->
  <div style="font-size: 105%; color: white; font-weight: bold; margin: 10px; margin-top: 10% ">

    <!-- <u> משתמש צפה בעבר ואהב את הסרט:</u>
    <div style="text-align: center; vertical-align: middle;">
      <br>
      <a class="thumb" href="{{movieTMDsrc}}{{watched_tmdb}}" target="_blank">
        <img class="poster" ng-src={{posterSRC}}{{watched_poster}}>
        <span class="test">
          {{watched}}
          <br>
          <img ng-src={{posterSRC}}{{watched_poster}} style="z-index: 100;" width="70%" alt="">
        </span>
      </a>
    </div> -->


    <br>

    <u> משתמש במערכת קיבל המלצה על הסרטים הבאים:</u>
    <div id="thumbs" style="font-size: 80%;">
      <p ng-repeat="mov in moviesNames">
        <a class="thumb" href="{{movieTMDsrc}}{{moviesLinks[$index]}}" target="_blank">
          <img class="poster" style="font-size: 50px; z-index: -1; " ng-src="{{posterSRC}}{{moviesPosters[$index]}}">

          <span class="test" style="z-index: 1;">
            {{mov}}
            <br>
            <img ng-src="{{posterSRC}}{{moviesPosters[$index]}}" width="70%" alt="">
          </span>
        </a>
        <span class="stretch"></span>
      </p>


    </div>

    <p class="">
      <br>
      <u>למרות ההמלצות, המשתמש בחר לצפות בסרט אחר שלא הומלץ: </u>
      <br>
      <div style="text-align: center; margin-bottom: 30px; vertical-align: middle;font-size: 80%;">
        <a class="thumb" href="{{movieTMDsrc}}{{chose_tmdb}}" target="_blank">
          <img ng-src="{{posterSRC}}{{chose_poster}}" class="poster">
          <span class="test" style="z-index: 1; top:-200px; left: -200px;width: 200% ">
            {{chose}}
            <br>
            <img ng-src="{{posterSRC}}{{chose_poster}}" width="60%" alt="">
          </span>
        </a>
      </div>
    </p>
  </div>
  <!-- 
    <u> משתמש צפה בעבר ואהב את הסרט:</u>
    <div style="text-align: center; vertical-align: middle;">
      <br>
      <a class="thumb" href="{{movieTMDsrc}}{{watched_tmdb}}" target="_blank">
        <img class="poster" ng-src={{posterSRC}}{{watched_poster}}>
        <span class="test">
          {{watched}}
          <br>
          <img ng-src={{posterSRC}}{{watched_poster}} style="z-index: 100;" width="70%" alt="">
        </span>
      </a>
    </div>


    <br>
    <u> המשתמש קיבל המלצה על הסרטים הבאים:</u>

    <div id="thumbs" style="font-size: 80%;">
      <p ng-repeat="mov in moviesNames">
        <a class="thumb" href="{{movieTMDsrc}}{{moviesLinks[$index]}}" target="_blank">
          <img class="poster" style="font-size: 50px; z-index: -1; " ng-src="{{posterSRC}}{{moviesPosters[$index]}}">

          <span class="test" style="z-index: 1;">
            {{mov}}
            <br>
            <img ng-src="{{posterSRC}}{{moviesPosters[$index]}}" width="70%" alt="">
          </span>
        </a>
        <span class="stretch"></span>
      </p>


    </div>

    <p class="">
      <br>
      <u>למרות ההמלצות, המשתמש בחר לצפות בסרט אחר שלא הומלץ: </u>
      <br>
      <div style="text-align: center; margin-bottom: 30px; vertical-align: middle;font-size: 80%;">
        <a class="thumb" href="{{movieTMDsrc}}{{chose_tmdb}}" target="_blank">
          <img ng-src="{{posterSRC}}{{chose_poster}}" class="poster">
          <span class="test" style="z-index: 1; top:-200px; left: -200px;width: 200% ">
            {{chose}}
            <br>
            <img ng-src="{{posterSRC}}{{chose_poster}}" width="60%" alt="">
          </span>
        </a>
      </div>
    </p>
  </div> -->

</div>