
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://v40.pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css">
<link href="components/FinalQuest/final_css.css" rel="stylesheet">


<div  id="bgImg"  >
    <img ng-src="../../shared/‏‏logo.png" >
    <img ng-src="../../shared/film2.jpg" style="width: 100%" >

</div>



<div class="py-5"    style="text-align:center; ; z-index: auto;" >
    <div class="container" dir="rtl">
        <div class="col-md-1" ></div>
        <div class="col-md-10" >
            <div class="text-center" style="font-size: 30px; z-index: 1; background-color: rgba(255, 180, 0,0.8); padding:
          30px">
          <h1><b>סיימת! <br>  עליך לאשר את שמירת הקובץ ולשלוח אותו לכתובת shirfr@post.bgu.ac.il <br>  הקובץ מכיל את שם המשתמש שלך</b><br> אנא רשמו בנושא המייל את שמכם המלא</h1>

                <h1> <br>  אנו מודים לך על השתתפותך!</b></h1>



</div>
</div>







