<div class="row">
    <div class="" style=" text-align: center; direction: rtl; font-size: 110%;">
        <b>
          <p>
            <b>
              במסכים הבאים יופיעו פריטים שונים, כאשר בחלקו הימני של המסך יופיע מידע על הפריטים שהופיעו למשתמש במערכת המלצה,  <br>ואילו בחלקו השמאלי של המסך תתבקשו לחוות את דעתכם על ההמלצות השונות.
              <br>עליכם להעריך את טיב ההמלצה עבור כל אחד מהפריטים שהומלצו למשתמש, המופיעים במקרה לניתוח, 
            בחלקו הימני של המסך,
            <br> בהתחשב בפריט אותו צרך המשתמש בעבר וכן בפריט בו בחר המשתמש לצרוך למרות ההמלצות.</b>
          </p>
            <div style="background-color: black; color: white;  font-size: 120%;">
             <b>מה דעתך על איכות ההמלצה עבור כל אחד מהפריטים הבאים: </b> 
            </div>
          
        
      </div>
</div>
<div class="col-md-6" id="questLeft" style="background-color: black;  height: 100%;
        overflow-y: auto;   overflow-x: hidden;">
  <!--Questionnaire instructions-->


    <form name="questForm" ng-model="questForm" style="direction: rtl; font-size: 130%" novalidate>
      <b>
        <div ng-style="set_color($index)" style="padding: 10px" ng-repeat="mov in recItems">

          <p class="" style="font-weight: 800; direction: rtl; font-family: 'Book Antiqua'; font-size: 135%; ">{{$index+1}}. המקום: {{mov.name}}</p>

          <div class="row">

        
            <ng-form name="ratingFieldForm_{{$index}}" ng-model="ratingFieldForm" novalidate>
              <div class="col-md-12" dir="rtl">
                <span ng-show="ratingFieldForm_{{$index}}.mov_rating_{{$index}}_1.$invalid && ratingFieldForm_{{$index}}.mov_rating_{{$index}}_2.$invalid && ratingFieldForm_{{$index}}.mov_rating_{{$index}}_3.$invalid && ratingFieldForm_{{$index}}.mov_rating_{{$index}}_4.$invalid && ratingFieldForm_{{$index}}.mov_rating_{{$index}}_5.$invalid && error"
                  style="color: #ff0000">&emsp;אנא דרג את ההמלצה
                  <br>
                </span>

                <input type="radio" id="mov_rating_{{$index}}_1" name="mov_rating_{{$index}}_1" value="1" ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="pointer" for="mov_rating_{{$index}}_1">1 (המלצה גרועה) </label>
                <br>
                <input type="radio" id="mov_rating_{{$index}}_2" name="mov_rating_{{$index}}_2" value="2" ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="pointer" for="mov_rating_{{$index}}_2">2 </label>

                <br>
                <input type="radio" id="mov_rating_{{$index}}_3" name="mov_rating_{{$index}}_3" value="3" ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="pointer" for="mov_rating_{{$index}}_3">3 </label>

                <br>
                <input type="radio" id="mov_rating_{{$index}}_4" name="mov_rating_{{$index}}_4" value="4" ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="pointer" for="mov_rating_{{$index}}_4">4 </label>


                <br>
                <input type="radio" id="mov_rating_{{$index}}_5" name="mov_rating_{{$index}}_5" value="5" ng-disabled="myCheck" ng-model="mov_rating"
                  ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="pointer" for="mov_rating_{{$index}}_5">5 (המלצה מצויינת) </label>
                <br>
                <br>
                <div ng-show="currentQuest>2">
                <div style="font-size: 20px; margin: 2px"> מה הוביל אותך לדירוג ההמלצה?
                </div>
                <span ng-show="(error  )&& ratingFieldForm_{{$index}}.mov_guide_{{$index}}_watched.$invalid && ratingFieldForm_{{$index}}.mov_guide_{{$index}}_chose.$invalid && ratingFieldForm_{{$index}}.mov_guide_{{$index}}_both.$invalid"
                  style="color: #ff0000;  ">
                  &emsp;אנא ציין מה הוביל אותך לדירוג ההמלצה
                  <br>
                </span>
                <input type="radio" id="mov_guide_{{$index}}_watched" name="mov_guide_{{$index}}_watched" value="watched" ng-disabled="myCheck"
                  ng-model="mov_guide" ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="pointer" for="mov_guide_{{$index}}_watched">המקום אותו המשתמש
                  <b>צרך בעבר</b>
                </label>
                <br>
                <input type="radio" id="mov_guide_{{$index}}_chose" name="mov_guide_{{$index}}_chose" value="chose" ng-disabled="myCheck"
                  ng-model="mov_guide" ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="pointer" for="mov_guide_{{$index}}_chose">המקום אותו המשתמש
                  <b>בחר לצרוך</b>
                </label>
                <br>
                <input type="radio" id="mov_guide_{{$index}}_both" name="mov_guide_{{$index}}_both" value="both" ng-disabled="myCheck" ng-model="mov_guide"
                  ng-click="saveClick($event,recItems[$index],itemsName[$index])" required>
                <label class="pointer" for="mov_guide_{{$index}}_both">המקום אותו המשתמש צרך בעבר
                  <b>וגם</b> המקום בו בחר המשתמש לצרוך</label>
                <br>
                <br>
              </div>
              </div>
            </ng-form>
            <ng-form name="explainFieldForm_{{$index}}" ng-show=currentQuest<=2 ng-model="explainFieldForm" novalidate>
              <div class="row" style="padding: 10px">
                <p>
                  <div style="font-size: 17px;"> &emsp;הנימוק לבחירתך:
                  </div>
                  <span ng-show="(error ||  explainFieldForm_{{$index}}.explain_mov.$touched )&& explainFieldForm_{{$index}}.explain_mov.$invalid "
                    style="color: #ff0000;  ">
                    &emsp;&emsp;אנא נמק את בחירתך
                    <br>
                  </span>
                  &emsp;
                  <input type="text" style=" font-size: 17px; color:black" size="60" name="explain_mov" ng-disabled="myCheck" placeholder="כתוב את נימוקך כאן"
                    ng-click="saveClick($event,recItems[$index],itemsName[$index])" ng-blur="saveClick($event, recItems[$index],itemsName[$index])" ng-model="explain_mov"
                    required>
                </p>
              </div>
            </ng-form>
          </div>
        </div>
  </div>
  </b>



  <div style="text-align: center; color: white; font-size: medium">
    <b> שאלון : {{currentQuest}}/{{QuestAmount}}
    </b> &emsp;
    <button type="submit" style="color: white" ng-hide="Last" ng-click="nextEval()" novalidate>
      <b>עבור להערכה הבאה</b>
    </button>
    <button type="submit" style="color: white" ng-show="Last" ng-click="nextEval() " novalidate>
      <b>לסיום הניסוי</b>
    </button>



    <br>
  </div>
  </form>
</div>
</div>


<div class="col-md-6" id="questRight" style="direction: rtl; font-size: large ;  height: 100%;
     overflow-y: auto;   overflow-x: hidden;background-color: #f8f8f8">





  <!--Current movies presented to the user-->
  <div style="font-size: 100%; color: black; font-weight: bold; margin: 10px; ">

    <u> משתמש ביקר בעבר ואהב את המקום:</u>
    <div style="text-align: center; vertical-align: middle; color: rgb(8, 53, 53); ">
      <br>
      <h2><b>{{watched}}</b></h2>
     
    </div>


    <div  style="margin-top: 50px ; margin-bottom: 50px" >
        

      
      <u> משתמש במערכת קיבל המלצה על המקומות הבאים:</u>
      <div  style=" text-align: center; color: rgb(8, 53, 53)">
          <h2><p ng-repeat="mov in recItems">
            <b>{{mov.name}}</b>
          </p> </h2> 
          
          

        </div>
   </div>

    <div >
      <br>
      <u> למרות ההמלצות, המשתמש בחר לצרוך מקום אחר שלא הומלץ לו: </u>
      <br>
      <div style="text-align: center; margin-bottom: 30px; vertical-align: middle; color: rgb(8, 53, 53);">
          <h2><b>{{chose}}</b></h2>

        
        <p style="margin-top:10%">

          <button class="btn btn-danger"  ng-click="openSitesCompare()"><h4> לחץ כאן על מנת לפתוח חלון השוואה בין המקומות </h4></button>
        </p>

      </div>
    </p>
   
  </div>





</div>