#bgImg {
    height: 100px;
    text-align: right;
    margin: 10px;

}
label {
    cursor: pointer;
}

#imageCont {
    background: url("cinema.jpg") no-repeat;


opacity: 0.3;
    border: 1px solid;

    background-size:cover;
}

input:hover{
    cursor: pointer;
}

.pointer
{
    font-weight: normal;

}

.pointer:hover  {
    cursor: pointer;
    font-weight: 600;


}

.headers {
    font-size: 105%;
}

